<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../../../lib/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../../../lib/fontawesome/css/all.min.css">
		<link rel="stylesheet" href="../../../css/style.css">


	</head>
	<body>
		<div class="container-fluid">
			<div class="row  py-1 px-3  mb-5 borda-titulo">
				<h3 class="">Dashboard</h3>
			</div>
			<!-- <div class="titulo-pagina">
				<hr class="estilizado">
				<div>
					<span class="bg-white text-montserrat px-3">Comandas Mesa</span>
				</div>
			</div> -->
			<!-- Cards comanda -->
			<!-- <div class="row">
				<div class="card my-2 mx-auto border border-success" style="width: 18rem;">
					<div class="card-header bg-success text-white text-montserrat"">Comandas do dia</div>
					<div class="card-body text-center float-center">
						<h4 class="text-success">15</h4>
							<button class="btn btn-success">Ver comandas</button>
					</div>
							
				</div>
				<div class="card my-2 mx-auto border border-primary" style="width: 18rem;">
					<div class="card-header bg-primary text-white text-montserrat">Comandas Abertas</div>
					<div class="card-body text-center float-center">
						<h4 class="text-primary">5</h4>
							<button class="btn btn-primary">Ver comandas</button>
					</div>
						
				</div>
						
			</div>
			<div class="titulo-pagina">
				<hr class="estilizado">
				<div>
					<span class="bg-white text-montserrat px-3">Informações Basicas</span>
				</div>
			</div> -->
			<!-- Cards -->
			<!-- <div class="row">
				<div class="card my-2 mx-auto border border-primary" style="width: 18rem;">
					<div class="card-body p-0">
						<table class="table  m-0 p-0" style="width: 100%; height: 100%;">
							<tr>
								<td class="bg-primary text-white text-center" rowspan="2" style="width: 65%">Vendas do dia</td>
								
								<td class="bg-white text-success text-center p-1" style="">15 vendas</td>
							</tr>
							<tr>	
								<td class="bg-white text-success text-center p-1" style="">R$ 500,00</td>
							</tr>
						</table>
							
					</div>
						
				</div>
				<div class="card my-2 mx-auto border border-primary" style="width: 18rem;">
					<div class="card-body p-0">
						<table class="table  m-0 p-0" style="width: 100%;  height: 100%;">
							<tr>
								<td class="bg-primary text-white text-center p-1" rowspan="2" style="width: 65%;">Vendas da semana</td>
								
								<td class="bg-white text-success text-center p-1" style="">50 vendas</td>
							</tr>
							<tr>	
								<td class="bg-white text-success text-center p-1" style="">R$ 1230,00</td>
							</tr>
						</table>
							
					</div>
						
				</div>
				<div class="card my-2 mx-auto border border-primary" style="width: 18rem;">
					<div class="card-body p-0">
						<table class="table  m-0 p-0" style="width: 100%;  height: 100%;">
							<tr>
								<td class="bg-primary text-white text-center" rowspan="2" style="width: 65%">Vendas do mês</td>
								
								<td class="bg-white text-success text-center p-1" style="">400 vendas</td>
							</tr>
							<tr>	
								<td class="bg-white text-success text-center p-1" style="">R$ 10350,00</td>
							</tr>
						</table>
							
					</div>
						
				</div>
				<div class="card my-2 mx-auto border border-primary" style="width: 18rem; ">
					<div class="card-body p-0">
						<table class="table  m-0 p-0" style="width: 100%;  height: 100%;">
							<tr>
								<td class="bg-primary text-white text-center" rowspan="2" style="width: 65%">Pizza mais vendida da semana </td>
								
								<td class="bg-white text-success text-center p-1" style="">Mussarela</td>
							</tr>
							<tr>	
								<td class="bg-white text-success text-center p-1" style="">22 vendas</td>
							</tr>
						</table>
							
					</div>
						
				</div>
				<div class="card my-2 mx-auto border border-primary" style="width: 18rem; ">
					<div class="card-body p-0">
						<table class="table  m-0 p-0" style="width: 100%;  height: 100%;">
							<tr>
								<td class="bg-primary text-white text-center" rowspan="2" style="width: 65%">Esfiha mais vendida da semana </td>
								
								<td class="bg-white text-success text-center p-1" style="">carne</td>
							</tr>
							<tr>	
								<td class="bg-white text-success text-center p-1" style="">44 vendas</td>
							</tr>
						</table>
							
					</div>
						
				</div>
				<div class="card my-2 mx-auto border border-primary" style="width: 18rem;">
					<div class="card-body p-0">
						<table class="table  m-0 p-0" style="width: 100%;  height: 100%;">
							<tr>
								<td class="bg-primary text-white text-center" rowspan="2" style="width: 65%">combo mais vendido da semana </td>
								
								<td class="bg-white text-success text-center p-1" style="">Combo 1</td>
							</tr>
							<tr>	
								<td class="bg-white text-success text-center p-1" style="">12 vendas</td>
							</tr>
						</table>
							
					</div>
						
				</div>
				<div class="card my-2 mx-auto border border-primary" style="width: 18rem;">
					<div class="card-body p-0">
						<table class="table  m-0 p-0" style="width: 100%;  height: 100%;">
							<tr>
								<td class="bg-primary text-white text-center" rowspan="2" style="width: 65%">bebida mais vendida da semana </td>
								
								<td class="bg-white text-success text-center p-1" style="">Coca-cola pet 2 litros</td>
							</tr>
							<tr>	
								<td class="bg-white text-success text-center p-1" style="">12 vendas</td>
							</tr>
						</table>
							
					</div>
						
				</div>

			</div>
			<div class="titulo-pagina mt-5">
				<hr class="estilizado">
				<div>
					<span class="bg-white text-montserrat px-3">Gráficos</span>
				</div>
			</div> -->
			<!-- graficos -->
			<!-- <div class="row">
				<div id="vendasDoDia" class="col-md-6"></div>
				<div id="VendasDaSemana" class="col-md-6"></div>
				<div id="VendasDoMes" class="col-md-6"></div>
				<div id="vendaProdutos" class="col-md-6"></div>
				<div id="top3PizzasDia" class="col-md-6"></div>
				<div id="top3PizzasSemana" class="col-md-6"></div>
				<div id="top3Esfihas" class="col-md-6"></div>
				<div id="top3Bebidas" class="col-md-6"></div>
				<div id="top3Combo" class="col-md-6"></div>
			</div> -->

		</div>
		</div>			
		<script src="../../../lib/jquery-3.1.1/jquery-3.1.1.js"></script>
		<script src="../../../lib/js/popper.min.js"></script>
		<script src="../../../lib/js/bootstrap.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<!-- 	<script type="text/javascript">
			$(document).ready(function () {
				top3PizzasDia();
				top3PizzasSemana();
				top3Esfihas();
				top3Bebidas();
				top3Combo();
				vendasDoDia();
				VendasDaSemana();
			});
			function vendasDoDia(){
				
				
				Highcharts.chart('vendasDoDia', {
				    chart: {
				        plotBackgroundColor: null,
				        plotBorderWidth: null,
				        plotShadow: false,
				        type: 'pie'
				    },
				    title: {
				        text: 'Pedidos do dia'
				    },
				    tooltip: {
				        pointFormat: 'Quantidade: {point.y} <b> <br>Porcentagem: {point.percentage:.1f} %'
				    },
				    exporting: { enabled: false },
				    credits: {
					    enabled: false
					},
				    plotOptions: {
				        pie: {
				            allowPointSelect: true,
				            cursor: 'pointer',
				            dataLabels: {
				                enabled: false,
				                              
				            },
				            showInLegend: true
				        }
				    },
				    series: [{
				        name: 'Pedidos',
				        colorByPoint: true,
				        data: [{
				            name: 'Pizza',
				            y: 61,
				            sliced: true,
				            selected: true
				        }, {
				            name: 'bebidas',
				            y: 11
				        }, {
				            name: 'Esfihas',
				            y: 100
				        }, {
				            name: 'Combos',
				            y: 4
				        }, {
				            name: 'Outros',
				            y: 12
				        }]
				    }]
				});
			}
			function VendasDaSemana(){
				
				
				Highcharts.chart('VendasDaSemana', {
				    chart: {
				        plotBackgroundColor: null,
				        plotBorderWidth: null,
				        plotShadow: false,
				        type: 'pie'
				    },
				    title: {
				        text: 'Pedidos da semana'
				    },
				    tooltip: {
				        pointFormat: 'Quantidade: {point.y} <b> <br>Porcentagem: {point.percentage:.1f} %'
				    },
				    exporting: { enabled: false },
				    credits: {
					    enabled: false
					},
				    plotOptions: {
				        pie: {
				            allowPointSelect: true,
				            cursor: 'pointer',
				            dataLabels: {
				                enabled: false,
				                              
				            },
				            showInLegend: true
				        }
				    },
				    series: [{
				        name: 'Pedidos',
				        colorByPoint: true,
				        data: [{
				            name: 'Pizza',
				            y: 118,
				            sliced: true,
				            selected: true
				        }, {
				            name: 'bebidas',
				            y: 111
				        }, {
				            name: 'Esfihas',
				            y: 130
				        }, {
				            name: 'Combos',
				            y: 30
				        }, {
				            name: 'Outros',
				            y: 20
				        }]
				    }]
				});
			}
			function top3PizzasDia(){
				Highcharts.chart('top3PizzasDia', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: 'top 3 pizzas '
				    },
				    subtitle: {
				        text: 'do dia'
				    },
				    xAxis: {
				        categories: [
				            'semana',
				            
				        ],
				        crosshair: false
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'Quantidade'
				        }
				    },
				    tooltip: {
				        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				            '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
				        footerFormat: '</table>',
				        shared: false,
				        useHTML: true
				    },
				    exporting: { enabled: false },
				    credits: {
					    enabled: false
					},
				    plotOptions: {
				        column: {
				            pointPadding: 0.2,
				            borderWidth: 0
				        }
				    },
				    series: [{
				        name: 'Mussarela',
				        data: [33],
				        color: '#236e87'

				    }, {
				        name: 'Calabresa',
				        data: [11],
				        color: '#9b42f4'

				    }, {
				        name: 'Frango com catupiry',
				        data: [38],
				        color: '#232387'

				    }]
				});
			}
			function top3PizzasSemana(){
				Highcharts.chart('top3PizzasSemana', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: 'top 3 pizzas '
				    },
				    subtitle: {
				        text: 'vendidas a semana'
				    },
				    xAxis: {
				        categories: [
				            'semana',
				            
				        ],
				        crosshair: false
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'Quantidade'
				        }
				    },
				    tooltip: {
				        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				            '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
				        footerFormat: '</table>',
				        shared: false,
				        useHTML: true
				    },
				    exporting: { enabled: false },
				    credits: {
					    enabled: false
					},
				    plotOptions: {
				        column: {
				            pointPadding: 0.2,
				            borderWidth: 0
				        }
				    },
				    series: [{
				        name: 'Mussarela',
				        data: [54],
				        color: '#236e87'

				    }, {
				        name: 'Calabresa',
				        data: [43],
				        color: '#db3273'

				    }, {
				        name: 'Frango com catupiry',
				        data: [56],
				        color: '#232387'

				    }]
				});
			}
			function top3Esfihas(){
				Highcharts.chart('top3Esfihas', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: 'top 3 esfihas '
				    },
				    subtitle: {
				        text: 'vendidas a semana'
				    },
				    xAxis: {
				        categories: [
				            'Quarta',
				            'Quinta',
				            'Sexta',
				            'Sabado',
				            'Domingo'
				        ],
				        crosshair: false
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'Quantidade'
				        }
				    },
				    tooltip: {
				        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				            '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
				        footerFormat: '</table>',
				        shared: false,
				        useHTML: true
				    },
				    exporting: { enabled: false },
				    credits: {
					    enabled: false
					},
				    plotOptions: {
				        column: {
				            pointPadding: 0.2,
				            borderWidth: 0
				        }
				    },
				    series: [{
				        name: 'Queijo',
				        data: [33, 18, 10, 29, 32]

				    }, {
				        name: 'Frango',
				        data: [11, 32, 17, 33, 10]

				    }, {
				        name: 'Bauru',
				        data: [38, 18, 29, 31, 27]

				    }]
				});
			}
			function top3Bebidas(){
				Highcharts.chart('top3Bebidas', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: 'top 3 bebidas '
				    },
				    subtitle: {
				        text: 'vendidas a semana'
				    },
				    xAxis: {
				        categories: [
				            'Quarta',
				            'Quinta',
				            'Sexta',
				            'Sabado',
				            'Domingo'
				        ],
				        crosshair: false
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'Quantidade'
				        }
				    },
				    tooltip: {
				        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				            '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
				        footerFormat: '</table>',
				        shared: false,
				        useHTML: true
				    },
				    exporting: { enabled: false },
				    credits: {
					    enabled: false
					},
				    plotOptions: {
				        column: {
				            pointPadding: 0.2,
				            borderWidth: 0
				        }
				    },
				    series: [{
				        name: 'Coca-cola pet 2 litros',
				        data: [33, 18, 10, 29, 32],
				        color: '#ff1123'

				    }, {
				        name: 'shuwepps 1,5l',
				        data: [11, 32, 17, 33, 10],
				        color: '#3f0124'

				    }, {
				        name: 'Itubaina pet 2 litros',
				        data: [38, 18, 29, 31, 27],
				        color: '#3cc627'

				    }]
				});
			}
			function top3Combo(){
				Highcharts.chart('top3Combo', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: 'top 3 bebidas '
				    },
				    subtitle: {
				        text: 'vendidas a semana'
				    },
				    xAxis: {
				        categories: [
				            'Quarta',
				            'Quinta',
				            'Sexta',
				            'Sabado',
				            'Domingo'
				        ],
				        crosshair: false
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'Quantidade'
				        }
				    },
				    tooltip: {
				        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				            '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
				        footerFormat: '</table>',
				        shared: false,
				        useHTML: true
				    },
				    exporting: { enabled: false },
				    credits: {
					    enabled: false
					},
				    plotOptions: {
				        column: {
				            pointPadding: 0.2,
				            borderWidth: 0
				        }
				    },
				    series: [{
				        name: 'Combo 1',
				        data: [33, 18, 10, 29, 32],
				        color: '#db3232'

				    }, {
				        name: 'Combo 3',
				        data: [11, 32, 17, 33, 10],
				        color: '#dbd232'

				    }, {
				        name: 'Combo4',
				        data: [38, 18, 29, 31, 27],
				        color: '#29b563'

				    }]
				});
			}
				
			

		</script> -->

	</body>
</html>

