<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../../../lib/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../../../lib/fontawesome/css/all.min.css">
		<link rel="stylesheet" href="../../../css/style.css">


	</head>
	<body>
		<div class="container-fluid">
		</div>	
		<script src="../../../lib/jquery-3.1.1/jquery-3.1.1.js"></script>
		<script src="../../../lib/js/popper.min.js"></script>
		<script src="../../../lib/js/bootstrap.js"></script>
		<script src="<?php echo HTTP_SERVER; ?>lib/handlebars/handlebars-v4.0.12.min.js"></script>
		<script id="dados-template" type="text/x-handlebars-template">
            {{#each elements}}
         
                <tr> 
                    <td scope="row" class="py-2 tabela-scroll">{{CD_FERIADO}}</td>
                    <td class="py-2 tabela-scroll">{{NM_FERIADO}}</td>
                    <td class="py-2 tabela-scroll">{{DT_FERIADO}}</td>
                    <td class="py-2 tabela-scroll">{{ANO_FERIADO}}</td>
                    <td class="py-2 tabela-scroll">{{USUARIO_CRIACAO}}</td>
                    <td class="py-2 tabela-scroll">{{DT_CRIACAO}}</td>
                    <td class="py-2 tabela-scroll">{{USUARIO_ALTERACAO}}</td>
                    <td class="py-2 tabela-scroll">{{DT_ALTERACAO}}</td>
                    <td class="p-0">
                        <div class="btn-group w-100" role="group" aria-label="Basic example">
                            <button type="button" title="Check" data-value="{{CD_FERIADO}}" class="btn btn-secondary mr-1 px-1 rounded-0"><i class="fas fa-check px-2 py-1"></i> </button>
                            <button type="button" title="Editar" class="btn btn-warning text-white mr-1 px-1 rounded-0" onclick="window.parent.link('precificacao/fragment/cadastroFeriados.frag.php?previous=precificacao/fragment/listagemFeriados.frag&codigoListagem={{CD_FERIADO}}')"><i class="fas fa-pencil-alt px-2 py-1"></i></button>
                            <button id="btnDelete" type="button" title="Excluir" data-value="{{CD_FERIADO}}" class="btn btn-danger mr-1 px-1 rounded-0"><i  class="fas fa-trash-alt px-2 py-1"></i></button>
                            <button type="button"  title="Histórico" data-value="{{CD_FERIADO}}" class="btn btn-primary px-1 rounded-0" onclick="list_feriados.listHistorico('{{CD_FERIADO}}')"><i class="fas fa-book px-2 py-1"></i></button>
                        </div>
                    </td>
                    
                </tr>
               
            {{/each}} 
        </script>

        <script id="dados-historico" type="text/x-handlebars-template">
            {{#each elements}}
         
                <tr> 
                    <!-- <td scope="row" class="py-2 tabela-scroll">{{CD_FERIADO}}</td> -->
                    <td class="py-2 tabela-scroll" style="width:20%">{{NM_FERIADO}}</td>
                    <td class="py-2 tabela-scroll" style="width:10%">{{DT_FERIADO}}</td>
                    <td class="py-2 tabela-scroll" style="width:10%">{{ANO_FERIADO}}</td>
                    <!-- <td class="py-2 tabela-scroll" style="width:20%">{{USUARIO_CRIACAO}}</td>
                    <td class="py-2 tabela-scroll" style="width:10%">{{DT_CRIACAO}}</td> -->
                    <td class="py-2 tabela-scroll" style="width:20%">{{USUARIO_ALTERACAO}}</td>
                    <td class="py-2 tabela-scroll" style="width:29%">{{DT_ALTERACAO}}</td>
                </tr>
               
            {{/each}} 
        </script>

	</body>
</html>

